<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="CounterService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:12022/CounterService"
                binding="netTcpBinding" bindingConfiguration="CounterService"
                contract="ServiceReference1.ICounterService" name="CounterService">
                <identity>
                    <userPrincipalName value="MARCELAMSLE45A2\marcelamsler" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>